/* Util */
.ff {
    font-family: "IBM Plex Serif", serif;
}

/* Header */
header {
    position: relative;
    z-index: 2;
    background-color: white;
}

.mini-contact,
.mini-contact a {
    color: black;
}

.mini-contact a:hover {
    color: #4400ff;
}

.navbar {
    font-weight: bold;
}

.navbar-brand {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-size: 30px;
}

.navbar-brand span {
    color: salmon;
}

/* Jumbosell */

.carousel {
    margin-top: -143px;
}

.carousel-item {
    position: relative;
    height: 100vh;
}

.carousel .carousel-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.7)
    );
    position: absolute;
    bottom: 0;
}

.carousel .title {
    font-size: 40px;
}

/* Popular Post */

.popular-post h4 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-size: 30px;
}

.main .col-md-6 .card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.card,
.card img {
    border: none;
    background-color: white;
    border-radius: 0;
}

.card a:hover {
    text-shadow: 0 0 2px rgba(111, 0, 255, 0.7);
}

.popular-post img {
    height: 145px;
}

/* sidebar */

.bg-link {
    position: relative;
    background-color: #f8f9fa;
}

.bg-link a {
    position: absolute;
    color: black;
    transform: translate(-50%, -50%);
}

.bg-link:hover {
    background-color: #b8b9ba;
}

.bg-link a:hover {
    color: #4400ff;
}

.post-side-title {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.date-post {
    font-size: 12px;
}

/* Footer */

footer {
    background-color: #1a1a1c;
}

footer .sosmed a {
    color: white;
}

footer .sosmed a:hover {
    color: blue;
}

footer .card {
    background-color: #1a1a1c;
}
